# Data Science Tools and Ecosystem

## Author
Kevin Hennelly

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
* Popular Languages that Data Scientists use
* Commonly used libraries by Data Scientists 
* Data Science Tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Ggplot
2. Pandas
3. TensorFlow

| Data Science Tools |
| ---- |
| Apache Spark |
| Jupyter Notebook |
|KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to multiply then add integers 
(3*4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print("200 minutes equals", hours, "hours")

200 minutes equals 3.3333333333333335 hours